<nav>
  <ul>
    <li><%= link_to 'Map', 'http://localhost:3000/home/map' %></li>
  </ul>
</nav>

<h1>Home#contacts</h1>
<p>Find me in app/views/home/contacts.html.erb</p>

<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>

