<nav>
  <ul>
    <li><%= link_to 'Questions', 'http://localhost:3000/home/questions' %></li>
  </ul>
</nav>

<h1>Home#faq</h1>
<p>Find me in app/views/home/faq.html.erb</p>

<%= text_field_tag 'foo[]' %>
<%= text_field_tag 'foo[]' %>

